.basket{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.basket_head{
    color:#FFFFFF;
    word-spacing: 0.2rem;
    width: 40%;
}
.basket_head p{
    color:rgba(195, 203, 220, 0.92);
}
.basket_head a{
    text-decoration: none;
}

.fav_baskets{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.fav_baskets button{
    background: none;
    border: none;
    color: rgba(40, 195, 244, 0.92);
}

.create_nd_search_basket{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.basket_search{
    width: 25rem;
    background-color: rgba(196, 196, 196, 0.1);
    border: 1px solid #62667C;
    border-radius: 8px;
    padding: 4px 10px;
    color: #FFFFFF;
}

.create_basket{
    border: 1px solid #0B81EE;
    background-color:transparent;
    color:#0B81EE;
    border-radius: 20px;
    padding: 5px 30px;
    width:11rem;
    height: 2rem;
}
.create_basket:hover{
    font-weight: bolder;
    background-color:  rgba(28, 45, 70, 0.7);
    border:1.2px solid #0B81EE;
    transition: 0.06s ease-in-out;
}
.basket_entry{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 350px;
    padding: 1.5rem;
    background-color: rgba(19, 20, 25, 1);
}
.basket_entry .basket_input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.basket_entry .basket_input input{
    border: 1px solid rgba(98, 102, 124, 1);
    background-color: transparent;
    border-radius: 8px;
    padding: 2px 8px;
    color:#FFFFFF;
    font-size: small;
}
.basket_entry label{
    color:rgba(195, 203, 220, 0.92);
}
.basket_entry .basket_button{
    display: flex;
    flex-direction: row;
    gap:1rem;
    justify-content: flex-end;
}
.basket_button .basket_cancel{
    background: transparent;
    border: 1px solid rgba(98, 102, 124, 1);
    color:#FFFFFF;
    border-radius: 5px;
    padding: 2px 8px;
}

.basket_button .basket_create{
    background-color: #0B81EE;
    border:none;
    color:#FFFFFF;
    border-radius: 5px;
    padding: 2px 8px;
}

.basket_table{
    position: relative;
}

.search_result{
    display: flex;
    flex-direction: column;
    gap:0.4rem;
    width: 400px;
    height: 250px;
    overflow: scroll;
    overflow-x: hidden;
    padding: 1rem 1.5rem;
    background-color: rgba(19, 20, 25, 1);
}
.search_outcome{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:0.3rem;
    align-items: center;
}
.search_outcome button{
    font-size: x-small;
    width:3.5rem;
    padding: 0.2rem 0.4rem ;
    border-radius: 3px;
}
.search_outcome .search_ticker{
    border: none;
    color:#4F7FFC;
    background-color: rgba(28, 45, 70, 0.7);;
}

.search_outcome .search_ticker:hover{
    background-color: transparent;
    border: 1px solid #4F7FFC;
    transition: 0.6s;
    border-radius: 5px;
}

.search_outcome .search_add
{
    background-color: rgba(79, 92, 110, 1);
    color: rgba(195, 203, 220, 1);
    border: none;
}
.search_outcome h6:hover{
    font-weight: bold;
    cursor: pointer;
    font-size: 0.6rem !important;
    color: #FFFFFF !important;
}
.search_outcome .search_add:hover{
    background-color: transparent;
    border: 1px solid rgba(195, 203, 220, 1);
    transition: 0.6s;
    border-radius: 5px;
}
.search_result::-webkit-scrollbar{
    width: 8px;
}
.search_result::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px #4F5C6E;
    background-color:#FFFFFF;
    border-radius: 5px;
}
.search_result::-webkit-scrollbar-thumb{
    background-origin: 5px;
    background-color:lightgray;
    border-radius: 5px;
}

.fav_baskets_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}
.newBasket_button{
    border: 1px solid #62667C;
    background: transparent;
    border-radius: 20px;
    padding: 5px 30px;
    color:rgba(195, 203, 220, 0.92);
    width: 11rem;
    height: 2rem;
}
.newBasket_button:hover,
.newBasket_button:focus{
    background-color:  #1F2026;
    border: none;
}
.del_basket_icon{
    float: right;
    position:relative;
    top: 3px;
}
