.exportBasketDropdown {
    position: relative;
    
    z-index: 100;
}

.exportBasketDropdown > p{
    cursor: pointer;
    text-align: center;
}

.exportBasketDropdown > div {
    position: absolute;
    width: max-content;
    /* left: -125%; */
    right: 0%;
  
    background-color: var(--dropdown_background);
    color: #8e8787 !important;
    padding: 0.5rem ;
    border-radius: 5px;

    z-index: 100;
}

.exportBasketDropdown > div a {
    text-decoration: none;
    color: inherit;
}
  
.exportBasketDropdown > div > div {
    margin-top: 0.5rem
}

.exportBasketDropdown > div > *:hover {
    color: white
}