.dropdown {
  background-color: var(--dropdown_background);
  color: var(--pagination_pageNumber_color);
  padding: 0.5em 0.7em;
  
  position: relative;
  min-width: calc(8rem + 1vw);
  max-width: 100%;
  cursor: pointer;
margin-right:1rem;
  font-size: calc(0.7rem + 0.25vw);
  border: 0.4px solid #F1F2F3;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 4px;
}

.dropdown__select {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown__select > p,
.dropdown__menu > p {
  margin: 0px;
}

.dropdown__menu {
  position: absolute;
  top: 38px;
  left: 0%;
  width: 100%;
  background-color: var(--dropdown_background);
  border-top: 3px solid var(--primary_background_color);
  border-radius: 3px;
  z-index: 100;
}

.dropdown__menu > p {
  padding: 0.5em 0.7em;
}

.dropdown__menu > p:hover {
  background-color: var(--dropdown_hover);
}
